.video-chat-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.video-caller{
  font-size: 40px;
  color: black;
}

.video-chat-button-terminal{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.video-chat-button{
  background-color: grey;
  color: white;
  padding: 10px;
  border-radius: 40px;
}

.red-video-button{
  background-color: red;
}

.blue-video-button{
  background-color: blue;
}

.green-video-button{
  background-color: green;
}

.video-call-div{
  height: 70%;
  width: 70%;
  background-color: turquoise;
  border-radius: 20px;
}

.video-player{
  border-radius: 20px;
}

.my-video{
  position: absolute;
}

.other-video{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.no-call-placeholder{
  font-size: 30px;
  color: white;
  background-color: black;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}