.card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  width: 300px;
  min-height: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 28px; 
  text-align: center;
  margin: 0;
}

.card-hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.card-bottom {
    font-size: 15px;
    display: flex;
    margin-top: 10px; 
}

.card-list {
  display:flex;
  margin: 50px 50px;
  flex-wrap: wrap;
}

.cost-content {
  width: 150px;
  margin-right: 40px;
  margin-top: 10px;
}

.package-button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none; 
  border-radius: 10px;
  text-align: center; 
  text-decoration: none; /* Remove underlines from links */
  font-size: 15px; 
  cursor: pointer; 
  min-width: 110px;
}

.admin-button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none; 
  border-radius: 10px;
  text-align: center; 
  font-size: 15px; 
  cursor: pointer; 
  min-width: 110px;
  margin-left: 80px;
  margin-top: 50px;
}

.check-icon {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 20px;
  max-width: 15px;
  max-height: 15px;
}

.edit-icon{
  font-size: 17px;
  cursor: pointer;
}

.x-icon {
  font-size: 20px;
  cursor: pointer;
}

.discount {
  display: flex;
  margin: 10px 10px;
  gap: '10px';
}

.card-top {
  margin-left: 10px;
  display: flex;
  gap: 210px;
  margin-top: 10px;
}

.plus-icon {
cursor: pointer;
font-size: 50px;
margin-left: 110px;
margin-top: 150px;
}

.user-plus-icon {
  cursor: pointer;
  font-size: 100px;
  margin-top: 80px;
  margin-left: 100px;
}

.input {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 8px;
}

.edit-mode {
  border: 2px solid #007bff;
}
